


.footer__container {
	padding-top: 100px;
	display: flex;
	justify-content: space-around;
}

.footer-descr {
	width: 303px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	padding: 22px 0 114px 0;
}

.copyright_text {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #1D1F2E4D;
	opacity: 70%;
}

.footer-navbar a{
	text-decoration: none;
	color: black;
}

.nav-link {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	padding: 5px 0;
}
.nav-link-bold{
	padding: 0 0 15px 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 2px;
}

@media (max-width: 829px) {
	
}

@media (max-width: 413px) {
	.footer-navbar{
		display: none;
	}
}