@import url(./coffee-stories-style.css);
@import url(./coffee-stories-style.css);
@import url(./feature-products-style.css);
@import url(./footer-style.css);
@import url(./header-style.css);
@import url(./info-style.css);
@import url(./overview-style.css);
@import url(./promo-offer-style.css);
@import url(./updates-subscr-style.css);


[class*="__container"] {
	font-family: 'Karla';
	max-width: 1920px;
	margin: 0 auto;
}

@media (max-width:769px){
	[class*="__container"] {
		width: 100%;
		margin: 0 auto;
	}
}

@media (max-width: 426px) {
	[class*="__container"] {
		width: 100%;
	}
}


.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(0,0,0,.5);
  transform: translateY(-0.25em);
}

button {  
	transition: 0.25s;
}
