[class*="__container"] {
	font-family: 'Karla';
	max-width: 1380px;
	margin: 0 auto;
}
.header {
	width: 940px;
	padding: 10px 0;	
}

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logotype {
	font-size: 20px;
	font-weight: 800;
}

.navbar a {
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 2px;
	color: grey;
}

.navbar a:hover {
	color: black;
}

.cart-btn {
	width: 100px;
	height: 30px;
	border: 1px solid;
	border-radius: 10px 0 10px 0;
	background-color: white;

}

.overview {
	min-height: 602px;
}
.overview__container {
	height: 602px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../../img/coffee-bg.png);
	background-position: center;
	background-size:contain;
}
.subtitle {
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 2px;
}
.overview-subtitle{
	text-transform: uppercase;
	padding: 159px 0 0 0;
	color:white;
}

.subtitle-second {
	text-transform: none;
	font-size: 17px;
	font-weight: 400;
	line-height: 30px;
	color: white;
	padding: 0;
}
.title {
	font-size: 47px;
	font-weight: 400;
	line-height: 60px;
	text-align: center;
}
.overview-title {
	padding: 10px 0;
	width: 869px;
	color: #fff;
	text-shadow: 0px 3px 5px rgba(0, 0, 0, 1);
}

.button-view {
	margin-top: 48px;
	border: 1px solid;
	border-radius: 10px 0 10px 0;
	background-color: white;
	height: 27px;
	width: 208px;

	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.info {
	padding: 123px 0 0 0;
	text-align: center;
	width: 652px;
}
.info-title {
	font-size: 28px;
	font-weight: 400;
	line-height: 40px;
}
.info-text {
	padding: 16px 0 21px 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #1D1F2EB2;


}
.info-link {
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
	color: #A25F4B;
	text-decoration: none;
}

.blocks-subtitle {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 2px;
	padding: 100px 0;
}

.mug-tabs {
	display: flex;
	justify-content: center;
}
.mug {
	height: 653px;
	width: 480px;
	text-align: center;
}

.mug-name {
	padding: 35px 0 5px 0;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #1D1F2EB2;
}

.new-price {
	font-size: 19px;
	font-weight: 400;
	line-height: 32px;
	color: #A25F4B;
	font-weight: 500;
}

.old-price {
	text-decoration: line-through;
}

.product-mug{
	height: 497px;
	width: 317px;
}

.products-subtitle {
	padding: 100px 0 50px 0;
}

.products-tabs {
	padding: 50px 0;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em rgba(0,0,0,.5);
  transform: translateY(-0.25em);
}

button {  
	transition: 0.25s;
}

.mug-img {
	transition: .25s all ease-in-out;
}

.mug-img:hover {
	transform: scale(1.1);
}

.promo-subtitle {
	padding: 50px 0 100px 0;
}

.offer-img {
	display: flex;
	height: 280px;
	width: 460px;
	justify-content: space-around;
}

.offer-sm-img {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.offer-block {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 130px 0;
}

.offer-descr {
	padding: 0 0 0 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 273px;
	width: 460px;
}

.offer-name {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 2px;
}

.offer-title {
	text-align: left;
}

.offer-subtitle {
	text-transform: none;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
}

.offer-button {
	height: 36px;
	width: 173px;
	color: white;
	text-transform: uppercase;
	background-color: #000;
	border: none;
	font-family: 'Karla';
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 2px;
}

.coffee-img {
	height: 340px;

	background-image: url(../../img/coffee-bg-2.png);
	background-position: center;
	background-size: cover;
}

.stories-subtitle {
	padding: 100px 0;
}



.stories-tabs {
	align-items: center;
	display: flex;
	justify-content: space-around;
}
.story {
	height: 553px;
	width: 300px;
}
.story-img {
}
.story-title {
	padding: 25px 0 14px 10px;
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
}
.story-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color:#1D1F2EB2;
	padding: 0 0 16px 10px;
}
.story-date {
	padding: 0 0 0 10px;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 2px;
	color: #1D1F2E;
}